.main-bg

.descr-block
  img(src="img/volga.png")
img(src="img/age.png").age-block
  
.main-wrapper
  .fixed.btn-block
    .btn-info
      a(data-fancybox data-src="#hidden-content-1" href="javascript:;").ga-film.byyd.animated.bounceInLeft О фильме
      a(data-fancybox="images" href="img/gallery/1.jpg").ga-photo.byyd.animated.bounceInLeft Фото
      .hidden
        each val in [2, 3, 4, 5, 6, 7]
            a(data-fancybox="images" href="img/gallery/" + val +".jpg")
              img(src="img/gallery/" + val +".jpg", alt="")
        
    .btn-move
      a(href="https://kassa.rambler.ru/msk/movie/88916?utm_source=BYYD&utm_medium=fullscreen&utm_campaign=43MIX", target="_blank").ga-ticket.byyd купить билет
      a(data-fancybox, href="https://youtu.be/rkdQkxb1Sqs?utm_source=BYYD&utm_medium=fullscreen&utm_campaign=43MIX").ga-video.byyd смотреть трейлер
  .fixed
    img(src="img/logo.png" class="logo")
    .man-bg
      img(src="img/Layer1-bg1.png")
      //- .word-animate
      //-   img(src="img/word1.png")
      //-   img(src="img/word2.png")
      //-   img(src="img/word3.png")
      //-   img(src="img/word4.png")
      //-   img(src="img/word6.png")
      //-   img(src="img/word5.png")
      //-   img(src="img/word6.png")
    //- .ainimate-bg
    //-   img(src="img/bg-animate.png")
  .fixed.descr-right
    img(src="img/slogan.png").slogan.animated.fadeIn
    img(src="img/date.png").date_desc.animated.fadeIn
    img(src="img/date_mob.png", alt="").date_mob.animated.fadeIn
  div(data-fancybox style="display: none;" id="hidden-content-1" class="info-film")
    - var br = '<br />'
    p 
      | Трое студентов колледжа сталкиваются со всемогущим злым духом по прозвищу «БайБайМэн». Героям необходимо найти способ спастись от мистического монстра, о котором нельзя никому рассказать, ведь он забирает любого, кто знает его имя или думает о нем.
    p 
      | Сценарий основан на одной из глав документальной книги Роберта Дэймона Шнека «The President’s Vampire: Strange-But-True Tales of the United States of America». 
    
    p  
      b
        | Жанр: 
      |Мистический хоррор !{br}
      b 
        | Рейтинг: 
      |16+!{br}
      b 
        | Режиссер:
      | Стэйси Тайтл («Последний ужин», «Пусть дьявол носит черное»)!{br}
      b
        | В главных ролях: 
      | Дуглас Смит («Уиджи: Доска Дьявола», «Большая любовь»), Люсьен Лавискон («Королевы крика»), Крессида Бонас, Майкл Трукко («Звездный крейсер “Галактика”») и Даг Джонс («Лабиринт фавна»), при участии Кэрри-Энн Мосс («Матрица», «Мементо»), Фэй Данауэй («Бонни и Клайд», «Афера Томаса Крауна»), Дженны Канелл («Дневники вампира»), Эрики Тремблэй и Клео Кинг
      b 
        | Продюсеры:
      | Тревор Мэйси («Незнакомцы», «Окулус»), Джеффри Сорос («Вне правил») и Саймон Хорсман!{br}
      b 
        | Сценарист: 
      | Джонатан Пеннер («Пусть дьявол носит черное»)!{br}
      b 
        | Оператор:
      | Джеймс Книст («Проклятие Аннабель», «Тишина»)!{br}
      b 
        | Композитор: 
      | The Newton Brothers («Сомния», «Уиджи. Проклятие доски дьявола», «Тронутые»)!{br}
      b 
        | Художник-постановщик: 
      | Дженнифер Спенс («Паранормальная активность», трилогия «Астрал»)!{br}
      b 
        | Художники по костюмам:
      | Лея Батлер («Паранормальная активность 3, 4», «Проклятие Аннабель 2»)!{br}
      b 
        | Монтаж: 
      |Кен Блэквелл («Уиджи: Доска Дьявола», «Неудержимые»). !{br}
div(data-fancybox style="display: none;" id="hidden-content-1" class="info-film")
      
